/* body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 12pt "Tahoma";
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
} */

html, body, div { float: none !important; }

.printable-page {
  max-width: 210mm !important;
  min-height: 297mm !important;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid !important;
  border-radius: 5px !important;
  background: white !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
  padding: 0 8px;
}

/* .printable-subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #FFEAEA solid;
} */

@page {
  size: A4 !important;
  margin: 0 !important;
}

@media print {

  html,
  body {
    float: none !important;
    width: 210mm !important;
    height: 297mm !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .printable-page {
    padding: 0 !important;
    margin: 0 !important;
    border: initial !important;
    border-radius: initial !important;
    max-width: initial !important;
    min-height: initial !important;
    box-shadow: initial !important;
    background: initial !important;
    page-break-after:auto !important;
  }
}
