#layout-wrapper::before {
    height: 70px!important;
}

.vertical-menu {
    margin-top: -35px!important;
}

.page-content {
    margin-top: 0!important;
    padding: 0!important;
    margin-left: 25px!important;
}